@model Dental_Clinic.Models.ServicesProvided

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ServicesProvided</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Visitid" class="control-label"></label>
                <select asp-for="Visitid" class ="form-control" asp-items="ViewBag.Visitid"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedServiceid" class="control-label"></label>
                <select asp-for="MedServiceid" class ="form-control" asp-items="ViewBag.MedServiceid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
